*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#9bc99e;
    /* #9bc99e*/
}
h3{
    text-align: center;
}
hr{
border:1px solid black;
color:black;
background-color: black;
}
#website{
    width:1000px;
    height:100%;
    margin:0 auto;
}
#top li{
    list-style: none;
    display:inline-block;
    float: right;
    padding: 10px;
}
header{
    height: 50px;
    width:100%;
    background-color: #f2ebd7;
}
#land{
    padding:10px;
    float:left;
}
#country{
    margin-left:10px;
    width:100px;
}
#menu{
    background-color: #f2ebd7;
    height:120px;
    border: 3px solid #ffc1b1;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#logo{
    margin:10px;
    border:4px #e0eaf3 solid;
    height:100px;
    border-radius:10%;
    float: left;
}
#buttons li a{
    color:black;
    text-decoration: none;
}
#buttons li a:active{
        color:#9bc99e;
        text-decoration: none;}
#buttons li{
    width:100px;
    height:50px;
    font-size:20px;
    border-radius: 15%;
    background-color:#c4f0e8;
    list-style-type: none;
    align-items: center;
    display:inline-flex;
    
}
#buttons2 li a{
    color:black;
    text-decoration: none;
}
#buttons2 li a:active{
        color:#9bc99e;
        text-decoration: none;}
#buttons2 li{
    width:100px;
    height:30px;
    background-color:#c4f0e8;
    text-align: right;
    list-style-type: none;
    align-items: center;
    display:inline-flex;
}
.blokken{
    float:left;
    width:250px;
    height:900px;
    margin-left:259px;
    background-color: #f2ebd7;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;

}
.items{
    float:left;
    width:750px;
    height:900px;
    background-color: #f2ebd7;
}
.cups{
    height: 100px;
    width:200px;
    border:3px solid #b6916b;
    background-color: #CBB89A;
    
}
.cups ul{
    margin-top:10px;
    list-style-type: square;
}
.verfijnen {
    height: 100px;
    width:200px;
    border:3px solid #b6916b;
    background-color: #CBB89A;
}
.verfijnen ul{
    list-style-type: square;
    margin-top:10px;
}
.prijs{
    height: 100px;
    width:200px;
    border:3px solid #b6916b;
    background-color: #CBB89A;
}
.prijs #slider{
    width:150px;
    
}
.recent{
    text-align: center;
    background-color: #CBB89A;
    height: 150px;
    width:200px;
    border:3px solid #b6916b
}
.recent img{
    margin:10px;
    height:70px;
    width:70px;
}
.recent a{
    text-decoration: none;
    color:white;
}
.recent #name{
    float: right;
    margin-right:5px;
    margin-top:10px;
}
.recent #price{
    float: right;
    margin:20px;
    margin-top:-35px;
    color:white;
}
.nieuwsbrief{
    background-color: #CBB89A;
    text-align: center;
    height: 100px;
    width:200px;
    border:3px solid #b6916b
}
.nieuwsbrief #email{
    margin-top:10px;
    width:180px;
}
.nieuwsbrief #submit{
    margin-top: 5px;
    border:none;
    cursor: pointer;
    background-color: #c4f0e8;
    height:30px;

}
.items h2{
    margin:20px;
    text-align: right;
}
.itemRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}
.itemRow .row{
    border:5px solid #ffc1b1;
    border-radius: 20px;
    height: 230px;
    width:200px;
    background-color: #ffd0c5;
}
.itemRow .itempic{
    height:150px;
    width:150px;
    border:4px #e0eaf3 solid;
    margin-left:20px;
    margin-top:10px;
    border-radius:10%;
}
.itemRow .information{
    text-align: right;
    margin-right:10px;
}
.copyright{
    margin-left:259px;
    background-color: #c4f0e8;
    height:250px;
    width:1000px;
    clear: both;
    display: flex;
    justify-content: space-around;
}
.copyright h4{
    margin-top: 20px;
    text-align: center;
    color:#959ed8;
}
.copyright h5{
    text-align: center;
    color:#959ed8;
}
.betalen{
    margin-top: 20px;
    border:solid 3px #959ed8;
    width:300px;
    height:180px;
}
.klanten{
    margin-top: 20px;
    border:solid 3px #959ed8;
    width:300px;
    height:180px;
}
.klanten ul{
    color:#959ed8;
    list-style-type:circle;
}
.overOns{
    margin-top: 20px;
    border:solid 3px #959ed8;
    width:300px;
    height:180px;
}
.overOns ul{
    color:#959ed8;
    list-style-type:circle;
}
.rabo{
    margin-top:-20px;
    width:100px;
    float: left;
}
.paypal{
    margin:20px;
    height:50px;
    float: right;
}
#aftieteling{
    margin-left:260px;
    text-align: center;
    height:50px;
    width: 1000px;
    background-color: #959ed8;
    color:white;
}
.koopmandje{
    float:left;
    margin:5spx;
    padding:15px;
    height:20px;
    background-color:#c4f0e8;
    border-radius: 20px;
    cursor: pointer;
    
}
